.example-container {
  width: 800px;
  height: 400px;
  margin:0 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 250px;
  color:black;
}

.subhead{
  font-size: 20px;
  font-weight: 500;

}
