<div class="row">
  <mat-card class="card">
    <mat-card-header >
        <mat-card-subtitle>My Profile</mat-card-subtitle>
      <mat-card-title>VIGNESH N</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-md-image src="https://th.bing.com/th/id/OIP.OVPbNrE80_rVZEQH1PJUvQHaHa?pid=ImgDet&w=201&h=201&c=7&dpr=1.3" alt="Photo of a Shiba Inu">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum dolorem soluta doloribus amet alias impedit nihil! Eaque, nulla suscipit? Iure, explicabo! Illo dolorem </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >LIKE</button>

      <button mat-button>SHARE</button>

    </mat-card-actions>

  </mat-card>
  <mat-card class="card">
    <mat-card-header >
        <mat-card-subtitle>My Profile</mat-card-subtitle>
      <mat-card-title>SAM</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-md-image src="https://th.bing.com/th/id/OIP.9SI8Q72bv5ZaSFl6nhF2xAHaHa?pid=ImgDet&w=201&h=201&c=7&dpr=1.3" alt="Photo of a Shiba Inu">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum dolorem soluta doloribus amet alias impedit nihil! Eaque, nulla suscipit? Iure, explicabo! Illo dolorem </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >LIKE</button>

      <button mat-button>SHARE</button>

    </mat-card-actions>

  </mat-card>
  <mat-card class="card">
    <mat-card-header >
        <mat-card-subtitle>My Profile</mat-card-subtitle>
      <mat-card-title>VICKY</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-md-image src="https://th.bing.com/th/id/OIP.qZziH616Zyqvf3em0nWvmQHaHa?pid=ImgDet&w=201&h=201&c=7&dpr=1.3" alt="Photo of a Shiba Inu">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum dolorem soluta doloribus amet alias impedit nihil! Eaque, nulla suscipit? Iure, explicabo! Illo dolorem </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >LIKE</button>

      <button mat-button>SHARE</button>

    </mat-card-actions>

  </mat-card>


  <mat-card class="card">
    <mat-card-header >
        <mat-card-subtitle>My Profile</mat-card-subtitle>
      <mat-card-title>VICKY SAM</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-md-image src="https://th.bing.com/th/id/OIP.ORNs8mpUKX9TSQT6-L-b_QHaHa?w=191&h=198&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Photo of a Shiba Inu">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum dolorem soluta doloribus amet alias impedit nihil! Eaque, nulla suscipit? Iure, explicabo! Illo dolorem </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >LIKE</button>

      <button mat-button>SHARE</button>

    </mat-card-actions>

  </mat-card>

</div>
